.mat-typography{
    max-width: 800px;
  }
img.mat-card-image {
    max-width: 100%;
    width: 250px;
    margin: 0 auto;
    display: block;
}
mat-card-header.mat-card-header {
  text-align: center;
  display: block;
}