<mat-dialog-content class="mat-typography">
  <mat-card-header>
    <mat-card-title>{{book.volumeInfo.title}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src={{book.volumeInfo.imageLinks.smallThumbnail}}>
  <mat-card-content>
    <p>
      {{book.volumeInfo.description}}
    </p>
    <hr />
    <h3>Category :</h3>
    <p>{{book.volumeInfo.categories}}</p>
    <h3>Author :</h3>
    <p>{{book.volumeInfo.authors}}</p>
    <h3>Publisher :</h3>
    <p>{{book.volumeInfo.publisher}}</p>
    <h3>Published date :</h3>
    <p>{{book.volumeInfo.publishedDate}}</p>
    <h3>Language :</h3>
    <p>{{book.volumeInfo.language}}</p>
    <hr />
  </mat-card-content>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>